.Logo{
    display: block;
    width: max(30vw,70px);
    padding-left: 20px;
}
.Logo :hover{
    cursor:pointer;
}
img{
    width: max(10vw,70px);
    padding-top: 4px;
}
.clubname{
    width: max(10vw,70px);
    font-size:max(1.5vw,11px);
    color: antiquewhite;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    padding: 6px 0px 0px 0px;
    animation: Slidex 1.2s ease-in-out 0.5s forwards;
    text-align: center;
}
@keyframes Slidex{
    from{
        transform:translateX(-100px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}