.Team{
    padding: 0 8%;
}

.top{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top h2{
    font-size: max(7vw,48px);
    border-bottom: 4.5px solid rgb(160, 160, 160);
    width: fit-content;
    color: white;
    font-weight: 550;
}

.members{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,270px);
    grid-gap: max(14px,2vw);
    justify-content: center;
}