.member{
    width: 200px;
    background-color: #012D01;
    padding-top: 13px;
    padding-bottom: 8px;
    color: white;
    box-shadow: 0 0 8px 0.5px #28fb75;
}

.photo{
    width: 86%;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid white;
    height: 220px;
}

.photo img{
    width: 100%;
    transition: transform 0.6s ease-in-out 0s;
}

.photo img:hover{
    transform: scale(1.15);
}

.details h2{
    font-family: Montserrat;
    font-size: max(0.8vw,12px);
    font-weight: 600;
    width: 86%;
    margin: 10px auto 2px auto;
}

.name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto 5px auto;
    width: 86%;
}

.name h3{
    width: 86%;
    margin: 0 auto;
    font-family: Montserrat;
    color: rgb(92, 240, 36);
    font-size: max(0.77vw,10px);
    font-weight: 300;
}