footer{
    background-color: rgb(29, 29, 29);
    margin-top: 120px;
    padding: 2% 8% 0 8%;
}

*{
    font-family: Montserrat;
    color: white;
}

.content{
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 218px) 346px;
    gap: 90px;
}   

.content h2{
    font-weight: 200;
    color: #28FB75;
    margin-bottom: 6px;
}

.part1 a, .part2 p{
    text-decoration: none;
    color: white;
}

.part2 p{
    font-weight: 470;
    font-size: 0.95em;
    letter-spacing: 0.3px;
}

.links{
    margin-top: 20px;
}

.part2{
    width: 220px;
}

.part3{
    width: 346px;
    height: 177px;
    border-radius: 15px;
}

.line{
    height: 0.4px;
    background-color: rgba(40, 251, 117, 0.8);
}

.copyright h2{
    font-size: 0.9em;
    font-weight: 350;
    padding: 1% 0;
}