.About{
    padding: 0 10%;
}

.text p{
    font-family: Montserrat;
    color: white;
    font-weight: 200;
    line-height: 28px;
    letter-spacing: 1.3px;
    font-size: max(1.2vw, 14px);
}

.first{
    margin: 24px 0;
}

.grp{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.grp img{
    width: 80%;
    border: 6px solid #28FB75;
    object-fit: contain;
}

@media screen and (max-width: 600px) {
    .About{
        padding: 0 6%;
    }

    .text p{
        letter-spacing: normal;
        line-height: 22px;
    }

    .grp img{
        width: 83vw;
    }
}