/* .navbar{
    position: relative;
    width: 100vw;
    display: flex;
    align-content: center;
    align-items: center;
    margin-top: 35px;
}

.Logo{
    position: absolute;
    display: inline-block;
    width: max(7.5vw,100px);
    user-select: none;
    margin-left: 25px;
}

.Logo :hover{
    cursor:pointer;
}

.Logo img{
    width: 100%;
}

.menu{
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    background-color: rgba(1, 45, 1, 1);
    border: 1px solid rgba(40, 251, 117, 1);
    border-radius: 30px;
    padding: 12px 0;
}

.menu Button{
    background-color: transparent;
    color: white;
    border: none;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.5px;
    text-align: center;
} */

.navbar{
    position: relative;
    width: 100vw;
    display: flex;
    align-content: center;
    align-items: center;
    margin-top: 35px;
}

.Logo{
    position: absolute;
    display: inline-block;
    width: max(7.5vw,100px);
    margin-left: 25px;
}

.Logo :hover{
    cursor:pointer;
}

.Logo img{
    width: 100%;
}

.menu{
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    background-color: rgba(1, 45, 1, 1);
    border: 1px solid rgba(40, 251, 117, 1);
    border-radius: 30px;
    padding: 12px 0;
}

.menu button, .menu Button{
    background-color: transparent;
    color: white;
    border: none;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.5px;
    text-align: center;
}

.menu button:hover{
    cursor: pointer;
    color: #88ff98;
}

/* @media(max-width:426px){
    .Logo{
        width: 4em;
    }
    .menu{
        margin: 0 8em;
        width: 10em;
    }
    .menu Button{
        font-size: 0.6em;
    }
} */